@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-destaque: 'Passion One', Impact, 'Arial Narrow Bold', sans-serif;
    --fonte-cordel: 'Sriracha', cursive;
    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}


/*HEADER----------------------------------*/

header {
    font-family: var(--fonte-destaque);
    text-align: center;

    width: 100%;

    background-color: black;
    color: white;
}

header > h1{
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    font-family: var(--fonte-normal);
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*SECTIONS----------------------------------*/

section {
    font-size: 3.5vw;
    padding: 20px;
}

section p{
    padding: 1vh 1vw;
    margin-bottom: 5vh;
    font-family: var(--fonte-cordel);
    line-height: 2em;

    min-width: 300px;
    max-width: 60vw;
}

section.fundo-personalizado p {
    
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 0px black;
}

section.fundo-personalizado {
    height: 100vh;
    position: relative;

    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

section#joaninha{
    background-image: url('../img/background001.jpg');
}

section#livros {
    background-image: url('../img/background002.jpg');
}

/*FOOTER----------------------------------*/

footer{
    background-color: black;
    font-family: var(--fonte-normal);
    text-align: center;
    color: white;

    padding: 10px;
}